@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: rgb(255, 255, 255);
  font-family: 'Poppins';
  margin: 0;
  min-height: 100vh;
  background-image: url(../bg.png);
}

.first-div {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sdn-div {
  min-height: 100vh;
  background-color: gray;
}

svg {
  width: 100px;
  position: absolute;
  animation: rotation 4.5s infinite linear;
  pointer-events: none;
  transition: top 1s, left 1s;
  transition-timing-function: ease-out;
}

text {
  font-size: 4em;
  font-family: 'Poppins';
  font-weight: bold;
  fill: #023646;
}

button {
  background: #023646bd;
  border: none;
  outline: none;
  padding: 2em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: .3em;
  font-size: .9rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

button:hover {
  background: #023646d1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
